.container{
	padding: 30px;
	justify-content: center;
}

.splashBox{
	color: white;
	font-family: Arastin;
	font-size: 10vh;
	display: flex;
	flex-direction: column;
	line-height: 1ch;
	position: relative;
	align-items: center;
	top: 10vh;
	left: -10vw;
	/* left: vw; */
	cursor: pointer;
} 



