.container{
	padding: 30px;
	justify-content: center;
}

.splashBox{
	color: white;
	font-family: Arastin;
	font-size: max(10vw, 85px);
	display: flex;
	flex-direction: column;
	line-height: 1ch;
	position: relative;
	align-items: center;
	top: 5vh;
	left: -10vw;
	cursor: pointer;
} 



