@font-face {
  font-family: Arastin;
  src: url(../public/fonts/arastin_pro.ttf);
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('../public/img/devon-janse-van-rensburg-nxAKhTQ1J6c-unsplash.jpg');
  height: 100%;
  width: 100%;
}

